@font-face {
  font-family: 'Roboto';
  src: url("/public/fonts/Roboto-Regular.ttf"),
       url("/public/fonts/Roboto-Medium.ttf"),
       url("/public/fonts/Roboto-Bold.ttf");
}

body {
  margin: 0;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
